<?xml version="1.0"?>
<!--
Launch file to run single softkinetic camera in stand alone (no other /tf) setup with Rviz
The arguments given are the device indices of the cameras determined by the DepthSense deamon.
Additional nodes represent t

-->
<launch>
  <node name="softkinetic_camera" pkg="frasier_object_detection" type="softkinetic_bringup_node" args="0" output="screen" >
    <param name="camera_link" type="string" value="/softkinetic_camera_link" />
    <param name="rgb_optical_frame" type="string" value="/softkinetic_camera_rgb_optical_frame" />
    <param name="depth_optical_frame" type="string" value="/softkinetic_camera_depth_optical_frame" />
    <param name="camera_frame" type="string" value="camera_link" />
    <param name="confidence_threshold" type="int" value="200" />
    <param name="use_radius_filter" type="bool" value="false" />
    <param name="search_radius" type="double" value="0.05" />
    <param name="min_neighbours" type="int" value="50" />
      <param name="camera_info_url" type="string" value="file://$(find frasier_object_detection)/camera_info/senz3d_monocam_calib.yaml"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="softkinect_tf"
        args="0 0 1 0 0 0 /base /softkinetic_camera_link 40" />
        
        

  <node pkg="tf" type="static_transform_publisher" name="optical_frame_tf"
        args="0 0 0 0 0 1.2 /softkinetic_camera_link /softkinetic_camera_rgb_optical_frame 40" />
        
        
  <node name="follow_tag" pkg="frasier_object_detection" type="follow_tag" args="0" output="screen" />
        
        <!--

  <node pkg="tf" type="static_transform_publisher" name="senz3d_tf"
        args="0 0 0 0 0 0 /softkinetic_camera_rgb_optical_frame /camera_link 40"/>
        
        -->
        
        <!--AR Marker Setup -->
        
<arg name="table_marker_size" default="11.5" />
<arg name="max_new_marker_error" default="0.08" />
<arg name="max_track_error" default="0.1" />
<arg name="cam_image_topic" default="/softkinetic_camera/rgb/image_mono" />
<arg name="cam_info_topic" default="/softkinetic_camera/rgb/camera_info" />
<arg name="output_frame" default="/base" />

<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg table_marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)"/>


      

    <node pkg="rviz" type="rviz" name="softkinect_rviz" respawn="false"  required="true"
  args="-d $(find frasier_object_detection)/launch/artag_config.rviz"  />


</launch>
